{
	admin off
	auto_https off
}

http://:{$KAURI_PORT:4180} {
	bind 127.0.0.1
	root * {$KAURI_STATIC_ROOT}
	route {
		header Cache-Control "no-cache"
		header X-Content-Type-Options "nosniff"
		# Content hashes, rather than archive timestamps, govern revalidation.
		request_header -If-Modified-Since
		header -Last-Modified
		import {$KAURI_CACHE_CONFIG}
		file_server {
			precompressed br gzip
		}
	}
}
